*{
  font-family: 'Nunito', sans-serif;
  color: #f5f5f5;
}
html, body{
  padding: 0px;
  margin: 0px;
  background-color: #000;
}

header{
  background-color: #000;
  padding: 20px;

}

header h1, h4, img, p{
  margin: 10px;
  display: inline-block;
}

.postForm{
  display: block;
  margin: 10px auto;
  width: 600px;
}

input{
   margin: 10px;
   color: #000;
}

textarea{
  color: #000;
}

#posts{
  width: 90vw;
  background-color: #000;
  display: block;
  margin: 10px auto;
  padding: 20px;
  border: solid blue 1px;
}

#posts img{
  float: left;
  margin-right: 10px;
}


#posts p{
  clear: both;
}

.author{
  margin-right: 15px;
  text-align:right;
}

.commentBox{
  display: block;
  margin: 10px auto;
}

.commentButton{
  display: block;
  margin: 10px auto;
  width: 100px;
  border: solid white 1px;
  background-color: black;
  color: #fff;
  padding: 10px;
}

#postButton{
  border: solid white 1px;
  background-color: black;
  color: #fff;
}
/*Animations*/

.sample-show-hide {
  padding:10px;
  border:1px solid black;
  background:white;
}

.sample-show-hide {
  -webkit-transition:all linear 0.7s;
  transition:all linear 0.7s;
}

.sample-show-hide.ng-hide {
  opacity:0;
}

.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

i{
  margin: 5px;
}
