<!DOCTYPE html>
<html ng-app='redditClone'>
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <script type='text/javascript' src= 'https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js'></script>
    <script type='text/javascript' src='js/index.js'></script>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>

  </head>
  <body ng-controller='daController'>
  <header>
    <h1>Reddit Clone</h1>
    <i class="fa fa-plus" ng-click='showPostForm=true'></i>
    <h4  ng-click='showPostForm=true' ng-dblclick='showPostForm=false'>Submit Post</h4>
    <input type="text" value='Search' ng-model="searchable" >
    <h4>Sort by:</h4>
    <select ng-model="sortBy">
      <option value="date">Date</option>
      <option value="location">Location</option>
      <option value="upvotes">Votes</option>
    </select>
  </header>
  <div ng-model='showPostForm' ng-show='showPostForm' class='postForm'>
    <form ng-submit='getPosts()'>
      <input type="text" ng-model="location" placeholder="Location" required>
      <input type="text" ng-model="author" placeholder="Author" required>
      <input type="text" ng-model="img" placeholder="Upload Image">
      <input type="submit" value= 'Submit Post' ng-click="bool=true" id='postButton' >
    </form>
  </div>
  <div ng-if="bool" class="fade">
    <div ng-repeat='post in posts | orderBy: "-upvotes" | filter:searchable | orderBy:sortBy' ng-show='posts' id='posts' class="posts sample-show-hide">
      <img ng-src="{{post.imgUrl}}">
      <h3 class='location'>
        {{post.location}} | <i class="fa fa-arrow-down" ng-click="post.upvotes = post.upvotes -1"> </i>
                            <i class="fa fa-arrow-up" ng-click="post.upvotes = post.upvotes +1"></i>
                             {{ post.upvotes | number}}
      </h3>
      <p class='author'>
        By {{post.author}}
      </p>
      <p class='description'>
        {{post.description}}
      </p>
      <div ng-controller='commentController'>
      <p>
        <i class="fa fa-calendar">&nbsp;</i><span am-time-ago="post.date"> {{post.date | date}}</span> |
         <i class='fa fa-comment'  ng-click ="commentArea=true" ng-dblclick='commentArea=false'>
           {{comments.length}} {{comments.length ==1?" Comment":" Comments"}} |</i>
         <i class='fa fa-pencil' ng-click="commentInput=true" ng-dblclick='commentInput=false'>Add Comment</i>
      </p>
      <br>
      <p ng-show='commentArea' ng-repeat='comment in comments' ng-model='addcomment'>
        <!-- This is where the comments will go -->
        {{comment.addcomment}}
      </p>
        <form ng-submit='getComments()' ng-show="commentInput">
          <textarea name="textarea" cols="70" rows="10" ng-model="addcomment" placeholder="Add comment." class='commentBox' >
          </textarea>
          <input type="submit" value='Submit Comment' class='commentButton' ng-click='commentInput=false'>
        </form>
      </div>
      </div>
    </div>
  <hr>
  </body>
</html>
